[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/runningstream/hugograyscale.git
